.task {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #71adb5;
  border-radius: 10px;
}



.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.actions > button {
  background-color: #00010c;
  border: none;

  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  /* color: ; */
}

.deleteButton {
  color: #ff204e;
}
.deleteButton:hover {
  background-color: #ff204e;
  color: #00010c;
}

.completeButton {
  color: #a1eebd;
}
.completeButton:hover {
  background-color: #a1eebd;
  color: #00010c;
}

.complete {
  color: #ff204e;
  border-color: #ff204e;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .task {
    flex-direction: column;
  }
}
